@model Mvp.Feature.MvpListing.Models.MvpListing

<div class="col-12 panel">

    <h1>The Sitecore MVPs for @Model.Year?.Value are:</h1>

    <ul>
        <li>
            <h3>Australia</h3>
            <ul>
                <li>
                    <h4>Ambassdor</h4>
                    <ul>
                        <li>MVP NAME</li>
                        <li>MVP NAME</li>
                        <li>MVP NAME</li>
                        <li>MVP NAME</li>
                    </ul>
                </li>
                <li>
                    <h4>Commerce</h4>
                    <ul>
                        <li>MVP NAME</li>
                        <li>MVP NAME</li>
                        <li>MVP NAME</li>
                        <li>MVP NAME</li>
                    </ul>
                </li>
                <li>
                    <h4>Strategy</h4>
                    <ul>
                        <li>MVP NAME</li>
                        <li>MVP NAME</li>
                        <li>MVP NAME</li>
                        <li>MVP NAME</li>
                    </ul>
                </li>
                <li>
                    <h4>Technology</h4>
                    <ul>
                        <li>MVP NAME</li>
                        <li>MVP NAME</li>
                        <li>MVP NAME</li>
                        <li>MVP NAME</li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>
            <h3>Belarus</h3>
            <ul>
                <li>
                    <h4>Ambassdor</h4>
                    <ul>
                        <li>MVP NAME</li>
                        <li>MVP NAME</li>
                        <li>MVP NAME</li>
                        <li>MVP NAME</li>
                    </ul>
                </li>
                <li>
                    <h4>Commerce</h4>
                    <ul>
                        <li>MVP NAME</li>
                        <li>MVP NAME</li>
                        <li>MVP NAME</li>
                        <li>MVP NAME</li>
                    </ul>
                </li>
                <li>
                    <h4>Strategy</h4>
                    <ul>
                        <li>MVP NAME</li>
                        <li>MVP NAME</li>
                        <li>MVP NAME</li>
                        <li>MVP NAME</li>
                    </ul>
                </li>
                <li>
                    <h4>Technology</h4>
                    <ul>
                        <li>MVP NAME</li>
                        <li>MVP NAME</li>
                        <li>MVP NAME</li>
                        <li>MVP NAME</li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</div>